*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-section{
    margin: 20px;
}

.banner-section .carousel-inner img{
    border-radius: 10px;
    height: 350px;
    object-fit:cover;
}

.now-showing-section{
    margin: 0 20px;
}

.now-showing-section .title{
    text-decoration: underline;
    margin-bottom: 20px;
}

.now-showing-section a:hover, a:visited{
    text-decoration: none;
}

.now-showing-section .n-cards .row{
    margin-bottom: 20px;
}



