*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-section{
    margin: 20px;
}

.banner-section .carousel-inner img{
    border-radius: 10px;
    height: 350px;
    object-fit:cover;
}



